{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
		<!--bootstrap-->
	<link rel="stylesheet" href="css/bootstrap.min.css" rel="stylesheet">
	<script src="js/bootstrap.min.js"></script> 
	<!-- our stylesheet and required fonts--->
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<title>DETAILS DETAILS DETAILS</title>
</head>
<body>
	<h1> this is our details!</h1>
	<div id="detailTitle">{{treasure.name}}</div>
	<iframe src=<iframe src="//player.vimeo.com/video/75844402?title=0&byline=0&portrait=0&autoplay=1" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><br />
 width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><br />

	<p>{{treasure.location}}</p>
</body>
</html>