h1 {
	color: black;
	font-size: 80px;
	font-family: 'Roboto', sans-serif;
	line-height: 74px;
}

p {
	font-family: 'Railway', sans-serif;
	font-size: 14px;
	line-height: 8px;
}

#detailTitle {
	color: red;
	size: 1em;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

body {
	background: url(../images/whiteCat.jpg);
  	background-repeat: no-repeat;
  	background-size: cover;
}